<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.springboot.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lx.springboot.entity.Customer">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="customer_name" property="customerName" />
        <result column="password" property="password" />
        <result column="phone_number" property="phoneNumber" />
        <result column="email" property="email" />
        <result column="status" property="status" />
        <result column="create_date" property="createDate" />
        <result column="updated_date" property="updatedDate" />
        <result column="alipay_id" property="alipayId" />
        <result column="cz_session_id" property="czSessionId" />
        <result column="name_pinyin" property="namePinyin" />
        <result column="contact_name" property="contactName" />
        <result column="contact_phone" property="contactPhone" />
        <result column="mail_address" property="mailAddress" />
        <result column="head_pic" property="headPic" />
    </resultMap>

    <insert id="addCustomer" parameterType="com.lx.springboot.entity.Customer" useGeneratedKeys="true" keyProperty="id">
        insert into customer (
         id,customer_id,customer_name, password, phone_number, email,status, create_date, updated_date, alipay_id, cz_session_id
        )
        values
        (
        #{id,jdbcType=DECIMAL},#{customerId,jdbcType=DECIMAL},#{customerName,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},#{status,jdbcType=DECIMAL}, now(),
         now(), #{alipayId,jdbcType=VARCHAR},
        #{czSessionId,jdbcType=VARCHAR}
        )
    </insert>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, alipayId,czSessionId,customer_name, password, phone_number, email, status, create_date, updated_date
    </sql>

    <select id="selectById" resultType="Customer">
        select * from customer where id = #{id}
    </select>

    <!--获取所有的会员信息-->
    <select id="getAllCustomer" resultType="Customer">
         select * from customer
    </select>

    <select id="getCustomerByParams" resultType="Customer" parameterType="customer">
         select * from customer
        <where>
         <include refid="selectCustomerByParams_SQL"/>
        </where>
    </select>

    <update id="updateCustomer" parameterType="customer">
        update customer
        <set>
            <if test="customerId != null and customerId !=''">
                `customer_id` = #{customerId},
            </if>
            <if test="customerName != null and customerName !=''">
                `customer_name` = #{customerName},
            </if>
            <if test="password != null and password !=''">
                `password` = #{password},
            </if>
            <if test="phoneNumber != null and phoneNumber !=''">
                `phone_number` = #{phoneNumber},
            </if>
            <if test="email != null and email !=''">
                `email` = #{email},
            </if>
            <if test="namePinyin != null and namePinyin !=''">
                `name_pinyin` = #{namePinyin},
            </if>
            <if test="contactName != null and contactName !=''">
                `contact_name` = #{contactName},
            </if>
            <if test="contactPhone != null and contactPhone !=''">
                `contact_phone` = #{contactPhone},
            </if>
            <if test="mailAddress != null and mailAddress !=''">
                `mail_address` = #{mailAddress},
            </if>
            <if test="headPic != null and headPic !=''">
                `head_pic` = #{headPic},
            </if>
            updated_date=now()
        </set>
        where alipay_id = #{alipayId}
    </update>

    <!--根据会员id删除会员信息-->
    <delete id="deleteById">
        delete from customer where id = #{id}
    </delete>

    <sql id="selectCustomerByParams_SQL">
        <if test="alipayId != null" >
            AND alipay_id = #{alipayId,jdbcType=VARCHAR}
        </if>
        <if test="czSessionId != null" >
            AND cz_session_id = #{czSessionId,jdbcType=VARCHAR}
        </if>
    </sql>
</mapper>
